.card {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.8rem;
    padding: 1rem;
    background-color: #ffffff03;
    border-radius: 2rem;
    opacity: 1;
    margin-top: 3rem;
}

.card img {
    max-width: 15rem;
    min-width: 10rem;
    border-radius: 1.2rem;
}

.card > div {
    display: flex;
    flex-direction: column;
}

.card p {
    margin: 0;
    font-size: 1.4rem;
    margin-top: 1rem;
    word-spacing: 0;
}

.card h3 {
    margin-top: 0;
    color: var(--text-color);
    margin-bottom: 0.25rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: fit-content;
}

.card:hover {
    background-color: #ffffff06;
    opacity: 1;
}

.card:hover .tool_tag {
    background-color: var(--highligth-trans);
    color: white;
}

.card:hover h3 {
    color: var(--highligth);
}

.card:hover .content svg {
    transform: translate(0.4rem, -0.4rem);
}

.card .content svg {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    transition: 0.1s;
}

.card .img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card .img_container svg {
    position: relative;
    font-size: 2rem;
    z-index: 10;
    transition: 0.3s;
}

.card .img_container svg:hover {
    transform: scale(1.1);
    color: var(--highligth);
}

.card h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.tool_tag {
    width: fit-content;
    padding: 0.3rem 0.8rem;
    color: var(--text-highligth);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--transparent);
    transition: 0.3s;
}

.tools_container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 40rem) {
    .card {
        flex-direction: row-reverse;
        justify-content: flex-end;
        transition: 0.2s;
    }
}

@media (min-width: 64rem) {
    .card {
        background-color: transparent;
        opacity: 0.8;
    }
}
