.special {
    color: var(--text-special-clr);
    font-weight: 500;
}

.about {
    margin-bottom: 1rem;
}

.about a {
    display: inline-block;
    color: var(--hover);
    opacity: 0.6;
    transition: 0.2s;
}

.about a:hover {
    opacity: 1;
}

@media(min-width: 64rem) {
    .about {
        margin-bottom: 6rem;
    }
}