.special {
    color: var(--ligth-white);
    font-weight: 600;
}

.about {
    margin-bottom: 1rem;
}

.about a {
    display: inline-block;
    text-decoration: underline;
    color: var(--ligth-white);
    transition: 0.2s;
}

.about a:hover {
    color: var(--yellow);
}

@media(min-width: 64rem) {
    .about {
        margin-bottom: 6rem;
    }
}