.about {
    margin-bottom: 1rem;
}

.special,
.about a {
    color: var(--text-highligth);
    font-weight: 600;
}

.about a {
    text-decoration: underline;
    transition: 0.2s;
}

.about a:hover {
    color: var(--highligth);
}

@media(min-width: 64rem) {
    .about {
        margin-bottom: 6rem;
    }
}