* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0f172a;
  --highligth: #F4D644;
  --text-color: #94a3b8;
  --text-highligth: #ffffffdb;
  --transparent: #ffffff38;

  --font-size-m: 1.6rem;
  --font-size-l: 2rem;
  --font-size-xl: 3.5rem;
  --font-size-xxl: 4.2rem;

  --font-svg: 2.4rem;

  --font-weigth-m: 400;
  --font-weigth-xl: 600;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 128rem;

  margin: 0 auto;
  padding: 4.6rem 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: var(--font-size-xl);
  color: var(--highligth);
  font-weight: var(--font-weigth-xl);
  letter-spacing: -0.9px;
}

h2,
h3 {
  margin-top: 1rem;
  font-size: var(--font-size-l);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-m);
}

p {
  margin-top: 1.6rem;
  font-size: var(--font-size-m);
  color: var(--text-color);
  line-height: 2.4rem;
  width: 100%;
  word-spacing: 0.2rem;
}

svg {
  font-size: var(--font-svg);
}

.buttons .button {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
  width: fit-content;
  font-size: 1.5rem;
  border: 1px solid var(--transparent);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s;
  font-weight: var(--font-weigth-m);
}

.buttons .button:hover {
  color: var(--highligth);
}

.button svg {
  font-size: 1.6rem;
}

button:hover {
  opacity: 1;
}

.sections_title {
  margin-top: 5rem;
  color: var(--text-highligth);
  font-size: var(--font-size-l);
}

@media(min-width: 48rem) {
  h1 {
    font-size: var(--font-size-xxl);
  }

  h2,
  h3 {
    font-size: var(--font-size-l);
  }

  body {
    padding: 7.4rem 2.4rem;
  }
}

@media(min-width: 64rem) {
  h1 {
    font-size: var(--font-size-xxl);
  }

  body {
    padding: 7.4rem 10rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sections_title {
    display: none;
  }
}