.header {
    margin-bottom: 10rem;
}

.subtitle {
    margin-top: -0.2rem;
}

.description {
    max-width: 32rem;
    word-spacing: 0rem;
}

.indice {
    display: none;
}

.social {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    width: fit-content;
    margin-top: 3.4rem;
    padding-inline: 0.2rem;
}

.social {
    font-size: var(--font-svg);
    color: var(--text-color);
    transition: 0.2s;
}

.social svg {
    transition: 0.2s;
}

.social a:hover svg {
    transform: scale(1.2);
    color: var(--highligth);
}

#mail_icon {
    font-size: 2.9rem;
}

@media (min-width: 64rem) {
    .header {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 12rem);
        margin-bottom: 0rem;
    }

    .indice {
        display: block;
        margin-top: 8rem;
    }

    .indice ul li {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;
        opacity: 0.4;
    }

    .indice ul li p {
        margin: 0;
    }

    .indice ul li:not(.active) p:hover {
        color: var(--highligth);
    }

    .indice ul li span {
        display: block;
        height: 1px;
        width: 4rem;
        background-color: var(--text-color);
        transition: 0.3s;
    }

    .indice .active {
        opacity: 1;
    }

    .indice .active span {
        width: 8rem;
    }
}
