.subtitle {
    margin-top: -0.2rem;
}

.description {
    max-width: 32rem;
    word-spacing: 0rem;
}

.indice {
    display: none;
}

.social {
    width: fit-content;
    margin-top: 3.4rem;
    display: flex;
    align-items: center;
    gap: 2.2rem;
    padding-inline: 0.2rem;
}

.social svg {
    font-size: 2.2rem;
    color: var(--ligth-grey);
    transition: 0.2s;
}

.social a:hover svg {
    transform: scale(1.2);
    color: var(--yellow);
}

#mail_icon {
    font-size: 2.6rem;
}

.cv {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    font-size: 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.048);
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 2rem;
    margin-inline: 0;
    transition: 0.2s;
}

.cv:hover {
    color: var(--yellow);
}

@media(min-width: 40rem) {
    .title {
        font-size: 4.8rem;
    }
}

@media(min-width: 64rem) {
    .header {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 12rem);
    }

    .indice {
        display: block;
        margin-top: 8rem;
    }

    .indice ul {
        list-style-type: none;
    }

    .indice ul li {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
        opacity: 0.4;
        cursor: pointer;
    }

    .indice ul li p {
        margin: 0;
    }

    .indice ul li:not(.active) p:hover {
        color: var(--yellow);
    }

    .indice ul li span {
        display: block;
        height: 1px;
        width: 4rem;
        background-color: var(--ligth-grey);
        transition: 0.3s;
    }

    .indice .active {
        opacity: 1;
    }

    .indice .active span {
        width: 8rem;
    }
}